<!doctype html>
<html>
<head>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/cosmo/bootstrap.min.css"/>
    <!-- link the css below -->
    <link rel="stylesheet" href="/static/css/style.css"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <title>{% block title %}{% endblock %}</title>

</head>

<body>

<!--{% if 'user_id' in session %}-->
<!--LOGGED IN-->
<!--{% else %}-->
<!--SHOW LOGIN LINK HERE-->
<!--{% endif %}-->

<div class="navbar navbar-inverse navbar-static-top">
    <div class="container">

        <div class="navbar-header">
            <!-- <img src="Image"> -->
            <a class="navbar-brand" href="/">Netflix and Chow</a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>Welcome, {{ session['first_name'] }}</li>
                <li><a href="/logout">Logout</a></li>
                </li>
            </ul>
        </div>

    </div>
</div>

<!--#######################    FLASK FLASH    ##################-->

{% with messages = get_flashed_messages(with_categories=true) %}
    <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <!-- <strong>Title</strong> --> {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<!--#######################    CONTENT   ##################-->

<div id="content">
    {% block content %}
    <!--HTML BODY CONTENT HERE-->
    {% endblock %}
</div>
</html>
</head>