{% extends "base.html" %}
{% block title %}Netflix and Chow{% endblock %}

{% block content %}

<div class="jumbotron">
    <h3><b>[put logo here]</b></h3>

    <p>Describe, at a high level, what Netflix and Chill is.</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-2">
        </div>

        <div class="col-md-3">
            <h2>Blurb</h2>

            <p>Maybe signup here or something</p>
        </div>

        <div class="col-md-2">
        </div>

        <div class="col-md-3">
            <h2>Blurb</h2>

            <p>Put something else here</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <img class="center-block" src="/static/img/rsz_cats_eating.png">
        </div>
    </div>
</div>

{% endblock %}


