{% extends "base.html" %}
{% block title %}Netflix and Chow{% endblock %}

{% block content %}

<div class="jumbotron">
    <h3><b>Netflix and Chow</b></h3>

    <p>Stop wasting precious downtime minutes. Sit back, relax and let us plan your evening.</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-2">
        </div>

        <div class="col-md-3">
            <h2>What shall we have for dinner?</h2>

            <p>Maybe signup here or something</p>
        </div>

        <div class="col-md-2">
        </div>

        <div class="col-md-3">
            <h2>This will say something else catchy!</h2>

            <p>Something catchy! </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <img class="center-block" src="/static/img/rsz_cats_eating.png">
        </div>
    </div>
</div>

{% endblock %}


