{% extends "base.html" %}
{% block title %}Netflix and Chow{% endblock %}

{% block content %}

<div class="jumbotron">
    <p class="text-left">Welcome to Netflix and Chow</p>
    <p class="text-left">User not logged in ... explain this app</p>
    <p class="text-center">Coming Soon</p>
    <img src="/static/img/rsz_cats_eating.png" class="img-responsive center-block">
    <p class="text-left">Register account?</p>
    <p class="text-left"><a href="/register">Create Account</a>
</div> <!-- Close Jumbotron div -->

{% endblock %}


