<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Registration Form</title>

    </head>
    <h1>Login</h1>
    <div class="border">
        Please fill out the following fields:
    </div>
    <!-- <head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    </head> -->
<body>
<form action="/register-process" method="post">
   <br>
    <label>Email:<br>
        <input type="email" name="email"></label>
        <br><br>
        
    <label>Password:<br>
        <input type="password" name="password" class="bolded"></label>
        <br><br>
 
 <input type="submit" value="Submit">
</form>

</body>
</html>