{% extends "base.html" %}
{% block title %}Create an Account{% endblock %}


{% block content %}


<div class="jumbotron">
    <h1>Create an Account</h1>

    <form action="/register-process" method="post">
        <br>
        <label>Email:<br>
            <input type="email" name="email" placeholder="Email address"></label>
        <br><br>

        <label>Password:<br>
            <input type="password" name="password" class="bolded" placeholder="Password"></label>
        <br><br>

        <label>Street Address:<br>
            <input type="text" name="address" placeholder="Street Address"></label>
        <br><br>

        <label>Zipcode:<br>
            <input type="number" name="zipcode" placeholder="Zipcode"></label>
        <br><br>

        <input class="btn btn-lg btn-danger btn-block" type="submit" value="Register Account">
    </form>


</div> <!-- Close Jumbotron div -->
{% endblock %}