<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Skills-HTML-CSS</title>

    </head>
    <h1>Registration Form</h1>
    <div class="border">
        Please fill out the following fields:
    </div>
    <!-- <head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    </head> -->
<body>
<form action="/register-process" method="post">
   <br>
    <label>Email:<br>
        <input type="email" name="email"></label>
        <br><br>
        
    <label>Password:<br>
        <input type="password" name="password" class="bolded"></label>
        <br><br>
        
    <label>Street Address:<br>
        <input type="text" name="address">
        <br><br>

    <label>Zipcode:<br>
        <input type="number" name="zipcode">
        <br><br>
 
 <input type="submit" value="Submit">
</form>

</body>
</html>