{% extends "base.html" %}
{% block title %}Pick your fun{% endblock %}

{% block content %}


<div class="jumbotron">
    <!-- Choose a genre to get a randomly chosen movie -->

    <h1>Movie Genre</h1>

    <div class="border">
        Please choose your genre:
        <br><br>
    </div>

    <form action="/step_3" method="post">

        <select>
            <option value="action">Action and Adventure</option>
            <option value="anime">Anime</option>
            <option value="children and family">Children and Family</option>
            <option value="classic movie">Classic Movie</option>
            <option value="comedies">Comedies</option>
            <option value="documentaries">Documentaries</option>
            <option value="dramas">Dramas</option>
            <option value="foreign">Foreign</option>
            <option value="gay and lesbian">Gay and Lesbian</option>
            <option value="horror">Horror</option>
            <option value="independent">Independent</option>
            <option value="oscar winning">Oscar Winning</option>
            <option value="romance">Romance</option>
            <option value="sci-fi and fantasy">Sci-Fi and Fantasy</option>
            <option value="sports">Sports</option>
            <option value="thrillers">Thrillers</option>
            <option value="tv shows">TV Shows</option>
        </select>

        <!-- Input address to get a randomly chosen restaurant based on location  -->

        <h1>What is for Dinner?</h1>

        <div class="border">
            Please enter your information:
            <br><br>
        </div>

        <label>Street Address:<br>
            <input type="text" name="address" value="{{ session['street_address'] }}"></label>
        <br><br>

        <label>Zipcode:<br>
            <input type="number" name="zipcode" value="{{ session['zipcode'] }}"></label>
        <br><br>

        <input type="submit" value="Pick Food and Movie">
    </form>

</div> <!-- Close Jumbotron div -->

{% endblock %}