{% extends "base-authenticated.html" %}
{% block title %}Your food choice{% endblock %}

{% block content %}


<div class="jumbotron">

    <div class="container">
        <h2>Chez Fancy Restaurant</h2>

        {{ restaurant_name }}
        <a href="{{ restaurant_url }}" target="_blank">restaurant_url</a>

        <h1>Movie Choice</h1>

        <p>Title: {{ movie_title }}</p>

        <p>Rating: {{ movie_rating }}</p>

        <p>Year: {{ movie_release_year }}</p>

        <p>Service: {{ movie_service }}</p>

        <p>Play Movie: <a href="{{ movie_playback_url }}" target="_blank">Playback Link</a></p>
        <img src="{{ movie_poster }}">


        <!-- Trigger the modal with a button -->
        <!--<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Order Food</button>-->

        <!--<form action="/step_2" method="post">-->

        <!--&lt;!&ndash; Modal &ndash;&gt;-->
        <!--<div class="modal fade" id="myModal" role="dialog">-->
        <!--<div class="modal-dialog modal-sm">-->
        <!--<div class="modal-content">-->
        <!--<div class="modal-header">-->
        <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
        <!--<h4 class="modal-title">Delivery.com</h4>-->
        <!--</div>-->
        <!--<div class="modal-body">-->
        <!--</div>-->
        <!--<div class="modal-footer">-->
        <!--<form action="/register-process" method="post">-->
        <!--<br>-->
        <!--<label>Email:<br>-->
        <!--<input type="email" name="email"></label>-->
        <!--<br><br>-->

        <!--<label>Password:<br>-->
        <!--<input type="password" name="password" class="bolded"></label>-->
        <!--<br><br>-->

        <!--<input type="submit" value="Submit">-->
        <!--</form>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</form>-->
    </div>

</div> <!-- Close Jumbotron div -->

{% endblock %}
